/* Font details */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container{
    width: 100%;
}
 /* Title style started */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    padding: 50px;
   
    
}
.title-details{
    color: white;
    
}
.title-details h2{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height: 20px;
}
.title-details span{
    background-color: #E02C6D;
    padding: 10px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    
}
.title-details a{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
    margin-right: 8px;

}

.title img{
    display: flex;
    direction: column;
    width: 556.01px;
    height: 438px;
}
.title img:hover{
    transform: rotate(10deg);
    transition: transform 3s ease ;
}

/* cards style started */
.top-players{
   
    margin: 50px;
    /* padding-left: 50px; */
    padding-right: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card img{
    display: flex;
    width: 300px;
    height: 300px;
}

/* footer section style */

.footer{
    display: flex;
    flex-direction: column;
    width: 483.87px;
    height: 213px;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}
.icon-style{
    display: inline;

    text-align: center;

}
.fab{
    font-size: 30px;
    color: gray;
}
.icon-style p{
    font-size: 15px;
}




/* media query */

/* mobile devices */

@media only screen and (max-width:668px) {
     /* title section */
    .container{
        width: 100%;
    }
    .title{
        flex-direction: column;
        justify-content: center;
        /* align-items: normal; */
        
    }

    .title img{
        width: 250px;
        height: 150px;
    }
   
    .title-details h2{
        font-size: 32px;
        align-items: flex-start;
    }
      /* for cards */
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .card img{
        width: 200px;
        height: 200px;
    }

    /* for footers */
    .footer{
        width: 250px;
        height: 250px;
        margin-left: 60px;
        }
}

/* tablet devices */
@media only screen and (min-width:668px) and (max-width:992px){
    /* title section */

        .title{
            flex-direction: row;
            align-items: center;
        }

        .title img{
        margin-left: 20px;
        width: 350px;
        height: 200px;
        }
        .title-details h2{
        font-size: 32px;
        align-items: flex-start;
    }

    /* for cards */
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card img{
        
        width: 200px;
        height: 200px;
    }

    /* for footers */
    .footer{
        width: 350px;
        height: 350px;
        margin-left: 180px;
        }
    

}